{% extends 'base.html'%}
{% block content %}
<div class="container mt-5">

    <div class="row">
        <div class="col-sm text-center mb-3">
            <div class="card">
                <div class="card-body">
                    Entradas
                    <h2>R$ {{ entradas }}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm text-center mb-3">
            <div class="card">
                <div class="card-body">
                    Saídas
                    <h2>R$ {{ saidas }}</h2>

                </div>
            </div>
        </div>
        <div class="col-sm text-center mb-3">
            <div class="card">
                <div class="card-body">
                    Total
                    <h2>R$ {{ saldo }}</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}